*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    position: relative;

}
.page{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    position: absolute;
    
}
.Favourite{
    width: 100%;
    height: 100%;
    background-color:burlywood;
    position: absolute;
    display:none;
}
.history{
    width: 100%;
    height: 100%;
    background-color: lightblue;
    position: absolute;
    display:none;
}
button{
    width: 100px;
    height: 50px;
}